<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Template.css">
  <script src="Fudge/FudgeCore.js"></script>
  <script src="FudgeStory/FudgeStory.js"></script>
  <script src="./Build/Template.js"></script>
  <title>Fudge Story Template</title>
</head>

<body>
  <scene>
    <dialog type="splash" open>
      <p class="StartInformation"> Hannah Ödell - DIM 03 - Visual Novel - Bei Riem Yasin - SS2022</p>
      <p>
        <img id="FudgeStoryLogo" theme="light" />
        <!-- Design your splash screen here. Reposition and rescale the logo above, but do not remove. -->
        <img id="StartingImage" src="./Assets/Backgrounds/BG_FUD_General.png" alt="Starting Image HERE Look how pretty, 10/10 image">
      </p>
      <p> </p>
    </dialog>
    <canvas></canvas>

    <speech>
      <name></name>
      <content></content>
    </speech>

    <!-- ---- Inventar ----- -->
    <dialog type="inventory">
      <h1>INVENTORY </h1>
      <p><h4>Push 'I' to  <button type="button">close</button> the inventory</h4> 
     </p>
      <ul></ul>
    </dialog>

    <dialog type="text">

    </dialog>
  </scene>
</body>

</html>

<!--------------------------------------------------------------------------------------- splashscreen -->